html{
  scroll-behavior: smooth;
}

body{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #C0C0C0;
  text-align: center;

  background-attachment: fixed;     
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 500px;

  background-image: url("../images/umsi.png");
}

.gallery-images{

display: grid;
grid-template-columns: 1fr;
align-self: auto;
justify-self: auto;
overflow: hidden;
}

nav li{
    display:  inline-flex;
    padding-right:5px;
    align-content: center;

    animation-name: new;
    animation-duration: 3s;
  }
  
  nav a{
    color: #00274C;
    font-weight: bold;
    text-decoration: none; 
}
  
  nav a:hover{
    color: #FFCB05;
}
  
  nav{
    background-color: #C0C0C0;
    padding: 5px 5px 5px 5px; 
    text-align: center;
}

.skip a{
    background: #C0C0C0;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;

    position: absolute;
    top: -40px;
}
      
.skip a:focus{
    top: 0px;
        
}

.skip a:focus{
    border: 5px black;
}

#image:hover{
  filter: grayscale(1);
}

@keyframes new{
  from{background-color: #FFCB05;}
  to {background-color: #C0C0C0;}
}






.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #C0C0C0;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #C0C0C0;
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: #C0C0C0;
  transform: rotateY(180deg);
}











/* REDUCING MOTION QUERY */

@media (prefers-reduced-motion: reduce){
  nav li{
    animation: none;

  }
}


/* FOR SCREENS LARGER THAN 600 PIXELS */

body{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* FOR SCREENS LARGER THAN 900 PIXELS */


@media all and (min-width: 900px){
        body{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: #C0C0C0;
            text-align: center;
            padding: 0px 30px 0px 0px;
}
}